<app-data></app-data>

<div>
    <h2 class="mb-15">Receipts</h2>
    
    <!-- <button type="button" pButton label="Add Receipt" icon="pi pi-plus" class="p-button-success mb-15" (click)="toggleAddPopup()"></button> -->
    
    <p-table [value]="receipts" [paginator]="true" [rows]="10" [tableStyle]="{ 'min-width': '30rem' }">
        <ng-template pTemplate="header">
            <tr style="width:20%">
                <th pSortableColumn="receiptId">Receipt Id <p-sortIcon field="receiptId"></p-sortIcon></th>
                <th pSortableColumn="receiptDate">Receipt Date <p-sortIcon field="receiptDate"></p-sortIcon></th>
                <th pSortableColumn="supplierId">Supplier Id <p-sortIcon field="supplierId"></p-sortIcon></th>
                <th pSortableColumn="billNo">Bill No <p-sortIcon field="billNo"></p-sortIcon></th>
                <th pSortableColumn="billDate">Bill Date <p-sortIcon field="billDate"></p-sortIcon></th>
                <th pSortableColumn="billValue">Bill Value <p-sortIcon field="billValue"></p-sortIcon></th>
                <th>Action</th>
            </tr>
        </ng-template>
        
        <ng-template pTemplate="body" let-receipt>
            <tr>
                <td>{{ receipt.receiptId }}</td>
                <td>{{ receipt.receiptDate }}</td>
                <td>{{ receipt.supplierId }}</td>
                <td>{{ receipt.billNo }}</td>
                <td>{{ receipt.billDate }}</td>
                <td>{{ receipt.billValue }}</td>
                <td>
                    <button type="button" pButton label="Edit Receipt" icon="pi pi-pencil" class="p-button-rounded p-button-warning mr-15" (click)="toggleEditPopup(receipt)"></button>
                    <button type="button" pButton label="Delete Receipt" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="toggleDeleteDialog(receipt)"></button>
                </td>
          </tr>
        </ng-template>
    </p-table>
    
    <p-toast></p-toast>
</div>

<!-- Edit Receipt -->
<app-edit-popup
[data]="selectedReceipt"
[template]="'receipt'"
[(display)]="displayEditPopup"
(confirm)="onConfirmEdit($event)"
header="Edit Receipt"
></app-edit-popup>

<!-- Add Receipt -->
<app-edit-popup
[template]="'receipt'"
[(display)]="displayAddPopup"
(confirm)="onConfirmAdd($event)"
header="Add Receipt"
></app-edit-popup>

<p-confirmDialog [closable]="false"></p-confirmDialog>
