<app-data></app-data>

<div>
    <h2 class="mb-15">Products</h2>

    <button type="button" pButton label="Add Product" icon="pi pi-plus" class="p-button-success mb-15" (click)="toggleAddPopup()"></button>
    
    <p-table [value]="products" [paginator]="true" [rows]="10" [tableStyle]="{ 'min-width': '30rem' }">
        <ng-template pTemplate="header">
            <tr style="width:20%">
                <th pSortableColumn="productId">Product ID <p-sortIcon field="productId"></p-sortIcon></th>
                <th pSortableColumn="productCategory">Product Category <p-sortIcon field="productCategory"></p-sortIcon></th>
                <th>Action</th>
            </tr>
        </ng-template>
        
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.productId }}</td>
                <td>{{ product.productCategory }}</td>
                <td>
                    <button type="button" pButton label="Edit Product" icon="pi pi-pencil" class="p-button-rounded p-button-warning mr-15" (click)="toggleEditPopup(product)"></button>
                    <button type="button" pButton label="Delete Product" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="toggleDeleteDialog(product)" #deleteButton></button>
                </td>
          </tr>
        </ng-template>
    </p-table>

    <p-toast></p-toast>
</div>

<!-- Edit Product -->
<app-edit-popup
[data]="selectedProduct"
[template]="'product'"
[(display)]="displayEditPopup"
(confirm)="onConfirmEdit($event)"
header="Edit Product"
></app-edit-popup>

<!-- Add Product -->
<app-edit-popup
[template]="'product'"
[(display)]="displayAddPopup"
(confirm)="onConfirmAdd($event)"
header="Add Product"
></app-edit-popup>

<p-confirmDialog [closable]="false"></p-confirmDialog>

<!-- <div *ngIf="displayConfirmDialog" [style.top.px]="dialogPosition.top" [style.left.px]="dialogPosition.left" class="custom-confirm-dialog">
    <p>Are you sure you want to delete this product?</p>
    <button (click)="onConfirmDelete(selectedProduct)">Yes</button>
    <button (click)="displayConfirmDialog = false">No</button>
</div> -->
  