.list-container {
    list-style-type: none;
    padding: 0px;

    .product-container {
        min-width: 300px;
        padding: 20px;
        border: 1px solid var(--container-border-color);
        gap: 1rem;
        margin-bottom: 25px;

        .button-container {
            width: 100%;
        }
    }

}