<app-data></app-data>

<div>
    <h2 class="mb-15">ProductionCoatings</h2>
    
    <!-- <button type="button" pButton label="Add ProductionCoating" icon="pi pi-plus" class="p-button-success mb-15" (click)="toggleAddPopup()"></button> -->
    
    <p-table [value]="productionCoatings" [paginator]="true" [rows]="10" [tableStyle]="{ 'min-width': '30rem' }">
        <ng-template pTemplate="header">
            <tr style="width:20%">
                <th pSortableColumn="productionCoatingId">Production Coating Id <p-sortIcon field="productionCoatingId"></p-sortIcon></th>
                <th pSortableColumn="productionCoatingDate">Production Coating Date <p-sortIcon field="productionCoatingDate"></p-sortIcon></th>
                <th pSortableColumn="coatingStart">Coating Start <p-sortIcon field="coatingStart"></p-sortIcon></th>
                <th pSortableColumn="coatingEnd">Coating End <p-sortIcon field="coatingEnd"></p-sortIcon></th>
                <th pSortableColumn="averageSpeed">Average Speed <p-sortIcon field="averageSpeed"></p-sortIcon></th>
                <th pSortableColumn="averageTemperature">Average Temperature <p-sortIcon field="averageTemperature"></p-sortIcon></th>
                <th pSortableColumn="gsmCoated">GSM Coated <p-sortIcon field="gsmCoated"></p-sortIcon></th>
                <th pSortableColumn="rollCount">Roll Count <p-sortIcon field="rollCount"></p-sortIcon></th>
                <th>Action</th>
            </tr>
        </ng-template>
        
        <ng-template pTemplate="body" let-productionCoating>
            <tr>
                <td>{{ productionCoating.productionCoatingId }}</td>
                <td>{{ productionCoating.productionCoatingDate }}</td>
                <td>{{ productionCoating.coatingStart }}</td>
                <td>{{ productionCoating.coatingEnd }}</td>
                <td>{{ productionCoating.averageSpeed }}</td>
                <td>{{ productionCoating.averageTemperature }}</td>
                <td>{{ productionCoating.gsmCoated }}</td>
                <td>{{ productionCoating.rollCount }}</td>
                <td>
                    <button type="button" pButton label="Edit" icon="pi pi-pencil" class="p-button-rounded p-button-warning mr-15" (click)="toggleEditPopup(productionCoating)"></button>
                    <button type="button" pButton label="Delete" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="toggleDeleteDialog(productionCoating)"></button>
                </td>
          </tr>
        </ng-template>
    </p-table>

    <p-toast></p-toast>
</div>

<!-- Edit ProductionCoating -->
<app-edit-popup
[data]="selectedProductionCoating"
[template]="'productionCoating'"
[(display)]="displayEditPopup"
(confirm)="onConfirmEdit($event)"
header="Edit ProductionCoating"
></app-edit-popup>

<!-- Add ProductionCoating -->
<app-edit-popup
[template]="'productionCoating'"
[(display)]="displayAddPopup"
(confirm)="onConfirmAdd($event)"
header="Add ProductionCoating"
></app-edit-popup>

<p-confirmDialog [closable]="false"></p-confirmDialog>
