<app-data></app-data>

<div>
    <h2 class="mb-15">RollNumbers</h2>
    
    <!-- <button type="button" pButton label="Add RollNumber" icon="pi pi-plus" class="p-button-success mb-15" (click)="toggleAddPopup()"></button> -->
    
    <p-table [value]="rollNumbers" [paginator]="true" [rows]="10" [tableStyle]="{ 'min-width': '30rem' }">
        <ng-template pTemplate="header">
            <tr style="width:20%">
                <th pSortableColumn="rollNumberId">Roll Number Id <p-sortIcon field="rollNumberId"></p-sortIcon></th>
                <th pSortableColumn="rollNumberValue">Roll Number <p-sortIcon field="rollNumberValue"></p-sortIcon></th>
                <th>Action</th>
            </tr>
        </ng-template>
        
        <ng-template pTemplate="body" let-rollNumber>
            <tr>
                <td>{{ rollNumber.rollNumberId }}</td>
                <td>{{ rollNumber.rollNumberValue }}</td>
                <td>
                    <button type="button" pButton label="Edit" icon="pi pi-pencil" class="p-button-rounded p-button-warning mr-15" (click)="toggleEditPopup(rollNumber)"></button>
                    <button type="button" pButton label="Delete" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="toggleDeleteDialog(rollNumber)"></button>
                </td>
          </tr>
        </ng-template>
    </p-table>

    <p-toast></p-toast>
</div>

<!-- Edit RollNumber -->
<app-edit-popup
[data]="selectedRollNumber"
[template]="'rollNumber'"
[(display)]="displayEditPopup"
(confirm)="onConfirmEdit($event)"
header="Edit RollNumber"
></app-edit-popup>

<!-- Add RollNumber -->
<app-edit-popup
[template]="'rollNumber'"
[(display)]="displayAddPopup"
(confirm)="onConfirmAdd($event)"
header="Add RollNumber"
></app-edit-popup>

<p-confirmDialog [closable]="false"></p-confirmDialog>
