<div>
    <h2>RollNumbers</h2>
    <ul class="row wrap gap-2 list-container">
        <li *ngFor="let rollNumber of rollNumbers" class="column full-center data-item-container">
            <p>id : {{ rollNumber.rollNumberId }}</p>
            <p>ReceiptDetailId - {{ rollNumber.receiptDetailId }}</p>
            <p>RollNumber - {{ rollNumber.rollNumberValue }}</p>
            <div class="row space-between button-container">
                <button type="button" (click)="toggleEditPopup(rollNumber)">Edit</button>
                <button type="button" (click)="toggleDeleteDialog(rollNumber)">Delete</button>
            </div>
        </li>
    </ul>
    <button type="button" (click)="toggleAddPopup()">Add RollNumber</button>
</div>

<!-- Edit Product -->
<app-edit-popup
[data]="selectedRollNumber"
[template]="'rollNumber'"
[(display)]="displayEditPopup"
(confirm)="onConfirmEdit($event)"
header="Edit RollNumber"
></app-edit-popup>

<!-- Add Product -->
<app-edit-popup
[template]="'rollNumber'"
[(display)]="displayAddPopup"
(confirm)="onConfirmAdd($event)"
header="Add RollNumber"
></app-edit-popup>

<p-confirmDialog [closable]="false"></p-confirmDialog>
