<app-logout></app-logout>

<!-- Navigation -->
<div class="row gap-1">
    <a
      routerLink="/data/product"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Product</a
    >

    <a
      routerLink="/data/productDetail"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >ProductDetail</a
    >

    <a
      routerLink="/data/supplier"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Supplier</a
    >

    <a
      routerLink="/data/size"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Size</a
    >

    <a
      routerLink="/data/productStock"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >ProductStock</a
    >

    <a
      routerLink="/data/receipt"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Receipt</a
    >

    <a
      routerLink="/data/receiptDetail"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >ReceiptDetail</a
    >

    <a
      routerLink="/data/rollNumber"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >RollNumber</a
    >

    <a
      routerLink="/data/issue"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Issue</a
    >

    <a
      routerLink="/data/productionCoating"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >ProductionCoating</a
    >

    <a
      routerLink="/data/productionCalendaring"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >ProductionCalendaring</a
    >

    <a
      routerLink="/data/productionSlitting"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >ProductionSlitting</a
    >

    <a
      routerLink="/data/slittingDetail"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >SlittingDetail</a
    >
</div>
