<app-data></app-data>

<div>
    <h2 class="mb-15">ProductionCalendarings</h2>
    
    <!-- <button type="button" pButton label="Add ProductionCalendaring" icon="pi pi-plus" class="p-button-success mb-15" (click)="toggleAddPopup()"></button> -->
    
    <p-table [value]="productionCalendarings" [paginator]="true" [rows]="10" [tableStyle]="{ 'min-width': '30rem' }">
        <ng-template pTemplate="header">
            <tr style="width:20%">
                <th pSortableColumn="productionCalendaringId">Production Calendaring Id <p-sortIcon field="productionCalendaringId"></p-sortIcon></th>
                <th pSortableColumn="productionCoatingDate">Production Coating Date <p-sortIcon field="productionCoatingDate"></p-sortIcon></th>
                <th pSortableColumn="rollNumber">Roll Number <p-sortIcon field="rollNumber"></p-sortIcon></th>
                <th pSortableColumn="beforeWeight">Before Weight <p-sortIcon field="beforeWeight"></p-sortIcon></th>
                <th pSortableColumn="beforeMoisture">Before Moisture <p-sortIcon field="beforeMoisture"></p-sortIcon></th>
                <th pSortableColumn="calendaringStart">Calendaring Start <p-sortIcon field="calendaringStart"></p-sortIcon></th>
                <th pSortableColumn="calendaringEnd">Calendaring End <p-sortIcon field="calendaringEnd"></p-sortIcon></th>
                <th pSortableColumn="rollCount">Roll Count <p-sortIcon field="rollCount"></p-sortIcon></th>
                <th>Action</th>
            </tr>
        </ng-template>
        
        <ng-template pTemplate="body" let-productionCalendaring>
            <tr>
                <td>{{ productionCalendaring.productionCalendaringId }}</td>
                <td>{{ productionCalendaring.productionCoatingDate }}</td>
                <td>{{ productionCalendaring.rollNumber }}</td>
                <td>{{ productionCalendaring.beforeWeight }}</td>
                <td>{{ productionCalendaring.beforeMoisture }}</td>
                <td>{{ productionCalendaring.calendaringStart }}</td>
                <td>{{ productionCalendaring.calendaringEnd }}</td>
                <td>{{ productionCalendaring.rollCount }}</td>
                <td>
                    <button type="button" pButton label="Edit" icon="pi pi-pencil" class="p-button-rounded p-button-warning mr-15" (click)="toggleEditPopup(productionCalendaring)"></button>
                    <button type="button" pButton label="Delete" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="toggleDeleteDialog(productionCalendaring)"></button>
                </td>
          </tr>
        </ng-template>
    </p-table>

    <p-toast></p-toast>     
</div>

<!-- Edit ProductionCalendaring -->
<app-edit-popup
[data]="selectedProductionCalendaring"
[template]="'productionCalendaring'"
[(display)]="displayEditPopup"
(confirm)="onConfirmEdit($event)"
header="Edit ProductionCalendaring"
></app-edit-popup>

<!-- Add ProductionCalendaring -->
<app-edit-popup
[template]="'productionCalendaring'"
[(display)]="displayAddPopup"
(confirm)="onConfirmAdd($event)"
header="Add ProductionCalendaring"
></app-edit-popup>

<p-confirmDialog [closable]="false"></p-confirmDialog>
