<app-data></app-data>

<div>
    <h2 class="mb-15">ProductDetails</h2>
    
    <!-- <button type="button" pButton label="Add ProductDetail" icon="pi pi-plus" class="p-button-success mb-15" (click)="toggleAddPopup()"></button> -->
    
    <p-table [value]="productDetails" [paginator]="true" [rows]="10" [tableStyle]="{ 'min-width': '30rem' }">
        <ng-template pTemplate="header">
            <tr style="width:20%">
                <th pSortableColumn="productDetailId">Product Detail ID <p-sortIcon field="productDetailId"></p-sortIcon></th>
                <th pSortableColumn="productCategory">Product Category <p-sortIcon field="productCategory"></p-sortIcon></th>
                <th pSortableColumn="variant">Variant <p-sortIcon field="variant"></p-sortIcon></th>
                <th>Action</th>
            </tr>
        </ng-template>
        
        <ng-template pTemplate="body" let-productDetail>
            <tr>
                <td>{{ productDetail.productDetailId }}</td>
                <td>{{ productDetail.productCategory }}</td>
                <td>{{ productDetail.variant }}</td>
                <td>
                    <button type="button" pButton label="Edit" icon="pi pi-pencil" class="p-button-rounded p-button-warning mr-15" (click)="toggleEditPopup(productDetail)"></button>
                    <button type="button" pButton label="Delete" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="toggleDeleteDialog(productDetail)"></button>
                </td>
          </tr>
        </ng-template>
    </p-table>

    <p-toast></p-toast>
</div>

<!-- Edit ProductDetail -->
<app-edit-popup
[data]="selectedProductDetail"
[template]="'productDetail'"
[(display)]="displayEditPopup"
(confirm)="onConfirmEdit($event)"
header="Edit ProductDetail"
></app-edit-popup>

<!-- Add ProductDetail -->
<app-edit-popup
[template]="'productDetail'"
[(display)]="displayAddPopup"
(confirm)="onConfirmAdd($event)"
header="Add ProductDetail"
></app-edit-popup>

<p-confirmDialog [closable]="false"></p-confirmDialog>
