<app-data></app-data>

<div>
    <h2 class="mb-15">ReceiptDetails</h2>
    
    <!-- <button type="button" pButton label="Add ReceiptDetail" icon="pi pi-plus" class="p-button-success mb-15" (click)="toggleAddPopup()"></button> -->
    
    <p-table [value]="receiptDetails" [paginator]="true" [rows]="10" [tableStyle]="{ 'min-width': '30rem' }">
        <ng-template pTemplate="header">
            <tr style="width:20%">
                <th pSortableColumn="receiptDetailId">Receipt Detail Id <p-sortIcon field="receiptDetailId"></p-sortIcon></th>
                <th pSortableColumn="receiptId">Receipt Id <p-sortIcon field="receiptId"></p-sortIcon></th>
                <th pSortableColumn="productStockId">Product Stock Id <p-sortIcon field="productStockId"></p-sortIcon></th>
                <th pSortableColumn="weight">Weight <p-sortIcon field="weight"></p-sortIcon></th>
                <th pSortableColumn="unitRate">Unit Rate <p-sortIcon field="unitRate"></p-sortIcon></th>
                <th pSortableColumn="rollCount">Roll Count <p-sortIcon field="rollCount"></p-sortIcon></th>
                <th>Action</th>
            </tr>
        </ng-template>
        
        <ng-template pTemplate="body" let-receiptDetail>
            <tr>
                <td>{{ receiptDetail.receiptDetailId }}</td>
                <td>{{ receiptDetail.receiptId }}</td>
                <td>{{ receiptDetail.productStockId }}</td>
                <td>{{ receiptDetail.weight }}</td>
                <td>{{ receiptDetail.unitRate }}</td>
                <td>{{ receiptDetail.rollCount }}</td>
                <td>
                    <button type="button" pButton label="Edit ReceiptDetail" icon="pi pi-pencil" class="p-button-rounded p-button-warning mr-15" (click)="toggleEditPopup(receiptDetail)"></button>
                    <button type="button" pButton label="Delete ReceiptDetail" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="toggleDeleteDialog(receiptDetail)"></button>
                </td>
          </tr>
        </ng-template>
    </p-table>

    <p-toast></p-toast>
</div>

<!-- Edit ReceiptDetail -->
<app-edit-popup
[data]="selectedReceiptDetail"
[template]="'receiptDetail'"
[(display)]="displayEditPopup"
(confirm)="onConfirmEdit($event)"
header="Edit ReceiptDetail"
></app-edit-popup>

<!-- Add ReceiptDetail -->
<app-edit-popup
[template]="'receiptDetail'"
[(display)]="displayAddPopup"
(confirm)="onConfirmAdd($event)"
header="Add ReceiptDetail"
></app-edit-popup>

<p-confirmDialog [closable]="false"></p-confirmDialog>
